name: Production Deployment

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: pc-chesa
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  driver-opts: network=host
                  buildkitd-config-inline: |
                      [registry."localhost:5001"]
                        http = true

            - name: Build and push backend image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: apps/backend/dockerfile
                  push: true
                  tags: localhost:5001/personal-dashboard/backend:latest

            - name: Build and push frontend image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: apps/frontend/dockerfile
                  push: true
                  build-args: |
                      VITE_BACKEND_BASE_URL=http://api.dashboard.lan
                  tags: localhost:5001/personal-dashboard/frontend:latest

            - name: Deploy backend to Dokploy
              run: |
                  curl -X 'POST' \
                  'http://server-0:3000/api/trpc/application.redeploy' \
                  -H 'accept: application/json' \
                  -H 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
                  -H 'Content-Type: application/json' \
                  -d '{
                      "json":{
                          "applicationId": "Nc8bXeEpBiIH3gvAgXysu"
                      }
                  }'

            - name: Deploy frontend to Dokploy
              run: |
                  curl -X 'POST' \
                  'http://server-0:3000/api/trpc/application.redeploy' \
                  -H 'accept: application/json' \
                  -H 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
                  -H 'Content-Type: application/json' \
                  -d '{
                      "json":{
                          "applicationId": "-sybwlonIbzrIH69BeGEC"
                      }
                  }'
